anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=022
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_std_format=YES
listen=YES
listen_ipv6=NO
tcp_wrappers=YES
pam_service_name=vsftpd
#log_ftp_protocol=YES
#vsftpd_log_file=/var/log/vsftpd.log
syslog_enable=NO

# Allow log 1 and 2 to be written simultaneously.
#dual_log_enable=YES
